<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Learn</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <!--navbar-->
    <nav  class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <%if(!currentuser){%>
            <a class="navbar-brand" href="/classes">E-Learn</a>
            <%} else if(currentuser.type=='student'){%>
              <a class="navbar-brand" href="/student/classes">E-Learn</a>
              <%} else{%>
                <a class="navbar-brand" href="/instructor/myClass">E-Learn</a>
              <%}%>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <%if(!currentuser){%>
              <li><a href="/login">Login</a></li>
              <li> <a href="/register">Signup</a></li>
              <%}else {%>
                <%if(currentuser.type=='student'){%>
                  <li><a href="/<%=currentuser.type%>/myClass">My Courses</a></li>
                  <%}%>
              <li><a>Signed In as <strong><%=currentuser.username%></strong></a></li>
              <li><a><%=currentuser.type%></a></li>
              <li> <a href="/logout">Logout</a></li>
              <%}%>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="container">
        <% if(error&&error.length>0){%>
        <div class="alert alert-danger" role="alert">
        <p><%=error%></p>
        </div>
      <%}%>
         <% if(success&&success.length>0){%>
        <div class="alert alert-success" role="alert">
          <p><%=success%></p>
      </div>
       <%}%>
    </div>
    
