<%- include('../partials/header') %>

<div class="container-fluid">
    <div class="row">
         
        <div class="col-md-2">
           <div class="row">
               <h1>All Lessions</h1>
            <div class="list-group">
                <%classname.lessons.forEach((lesson)=>{%>
                <a href="/classes/<%=classname._id%>/lesson/<%=lesson.lessonNumber%>" class="list-group-item list-group-item-action"><strong> <%=lesson.lessonNumber %>.<%= lesson.lessonTitle%></strong></a>
                <%})%>
              </div>
            </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-8">
          
        <div class="row">
            <div class="col">
            <h1 class="text-center"><%=classname.title%></h1>
            <p class="text-center"><%=classname.description%></p>
        </div>
      </div>
    </div>


    </div>
    <div class="row align-items-center">
        <div class="col-md-12">
        <%if(currentuser.type=='instructor'){%>
            <a class="btn btn-primary" href="/instructor/classes/<%=classname._id%>/lessons/new">Add new Lesson</a>
            <%}else{%>
            
            <%}%>
        </div>
    </div>
</div>














   >
    