<%- include('../partials/header') %>

<div class="container">
    <div class="row">
        <h1 class="text-center"><%=classname.title%></h1>
        <h2 class="text-center"><%=lesson.lessonNumber%>. <%=lesson.lessonTitle%></h2>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

           <p><%=lesson.lessonBody%></p>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>